################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TitleCapitalizationApp/v15
/TitleCapitalizationApp/bin/Debug/netcoreapp2.0
/TitleCapitalizationApp/obj
/TitleCapitalizationTests/bin/Debug/netcoreapp2.0
/TitleCapitalizationTests/obj
